body { background: #492dda; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 11px; display: flex; }
.block-auth-0 { color: #33fe68; font-size: 16px; margin-bottom: 5px; }
.block-metrics-1 { color: #8f8444; font-size: 13px; margin-bottom: 5px; }
.block-sms-2 { color: #20de55; font-size: 15px; margin-bottom: 5px; }
.block-metrics-3 { color: #b80f09; font-size: 20px; margin-bottom: 5px; }
.block-filter-4 { color: #9350fe; font-size: 15px; margin-bottom: 5px; }
.block-helper-5 { color: #ce01e7; font-size: 18px; margin-bottom: 5px; }
.block-product-6 { color: #29c171; font-size: 15px; margin-bottom: 5px; }
.block-payment-7 { color: #f8a044; font-size: 19px; margin-bottom: 5px; }
.block-filter-8 { color: #98a3be; font-size: 13px; margin-bottom: 5px; }